<h3 class="d-flex justify-content-center">New Product</h3>
<div class="col-6">
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingPassword" value="{{this.PRODUCT_ID}}" placeholder="PRODUCT ID"
        name="product_id" required />
    <label for="floatingPassword">PRODUCT ID</label>
</div>
</div>
<div class="col-6">
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.PRODUCT_NAME}}" placeholder="PRODUCT NAME"
        name="product_name" required />
    <label for="floatingInput">PRODUCT NAME</label>
</div>
</div>
<div class="col-6">
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingPassword" value="{{this.QUANTITY}}" placeholder="QUANTITY"
        name="quantity" required />
    <label for="floatingPassword">QUANTITY</label>
</div>
</div>
<div class="col-6">
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingPassword" value="{{this.REORDER_QUANTITY}}"
        placeholder="REORDER QUANTITY" name="reorder_quantity" required />
    <label for="floatingPassword">REORDER QUANTITY</label>
</div>
</div>

<div class="col-6">
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingPassword" value="{{this.DESCRIPTION}}" placeholder="DESCRIPTION"
        name="description" />
    <label for="floatingPassword">DESCRIPTION</label>
</div>
</div>

<div class="col-6">
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingPassword" value="{{this.EXPIRATION_DATE}}"
        placeholder="EXPIRATION DATE" name="expiration_date" />
    <label for="floatingPassword">EXPIRATION DATE</label>
</div>
</div>

<div class="col-6">
<div class="form-floating mb-3" required>
    <input type="text" class="form-control" id="floatingPassword" value="{{this.CATEGORY_ID}}" placeholder="CATEGORY ID"
        name="category_id" />
    <label for="floatingPassword">CATEGORY ID</label>
</div>
</div>

<div class="col-6">
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingPassword" value="{{this.COST}}" placeholder="COST" name="cost"
        required />
    <label for="floatingPassword">COST</label>
</div>
</div>

<div class="col-6">
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingPassword" value="{{this.PRICE}}" placeholder="PRICE"
        name="price" required />
    <label for="floatingPassword">PRICE</label>
</div>
</div>

<div class="col-6">
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingPassword" value="{{this.VENDOR_ID}}" placeholder="VENDOR ID"
        name="vendor_id"/>
    <label for="floatingPassword">VENDOR ID</label>
</div>
</div>

<div class="col-12 d-grid">
<button class="btn btn-primary mb-3" type="submit">Submit</button>
</div>